.logo 
{
    position: absolute;
    margin:0 auto;
    width: 100px;
    top:10px;
    display: inline;
}

.header-container
{
 
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width:1160px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: white;
}

h1{
  margin-right: auto;
  margin-left: auto;
  max-width:1160px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  display:inline

    }
